


<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <h2>Login </h2>

      <div class="form">
        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">UserName: </label>
            <input id="username" type="text" class="form-control" formControlName="username" required autocomplete="off" />
            <div class="error" *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].hasError('required')">Username is Required !</div>
            <div class="error" *ngIf="loginForm.controls['username'].hasError('maxlength')">Username should less than 20 character !</div>
            <div class="error" *ngIf="loginForm.controls['username'].hasError('pattern')">Not a valid pattern !</div>

          </div>
          <div class="form-group">
            <label for="password">Password: </label>
            <input id="password" type="password" class="form-control" formControlName="password" required autocomplete="off">
            <div class="error" *ngIf="loginForm.controls['password'].hasError('pattern')">Should contains capital letters, numbers, special characters !</div>
          </div>
          <button class="btn btn-success btn-block" [disabled]="loginForm.invalid" >Login </button>
          <div *ngIf="invalidLogin" class="error">
            <div>Invalid credentials.</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

