

<!-- <input type="text" [(ngModel)]="name"> -->

<!-- <p> {{ name }}</p> -->
<!-- <div class="container"> -->
  <!-- <div class="row"> -->
    <!-- <app-server></app-server> -->
  <!-- </div> -->
<!-- </div> -->

<!-- <app-warning-alert></app-warning-alert> -->
<!-- <app-sucess-alert></app-sucess-alert> -->


<!-- <label>Username: </label>
<input type="text" class="form-control" [(ngModel)]="userName">
<p> {{ userName }} </p>
<button class="btn btn-primary" [disabled]="userName === ''" (click)="userName = ''">Reset User</button> -->

<!-- <app-login></app-login> -->

<router-outlet></router-outlet>
